<div class="form-top">
    <div class="form-top-left">
        <h2 style="margin-top: 15px">
        	<i class="fa fa-spoon" style="color: #ffd700"></i>
        	Hãy chia sẻ ý tưởng menu của bạn với chúng tôi !!
        </h2>
    </div>
    <div class="form-top-right">
        <img width="86" src="<%= image_url('menu-ico.gif') %>" alt="Đăng menu">
    </div>
</div>

<%= render 'form' %>
