<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @post_recipe.content %>
</p>

<%= link_to 'Edit', edit_post_recipe_path(@post_recipe) %> |
<%= link_to 'Back', post_recipes_path %>
