<div class="user-block">
  <img class="img-circle img-bordered-sm" src="https://almsaeedstudio.com/themes/AdminLTE/dist/img/user6-128x128.jpg">
  <span class="username">
    <a href="#"><%= comment.user.name %></a> </span>
  <span class="#"><%= comment.content %></span>
</div> 
