<div class = "user-block">
  <img> <%= image_tag current_user.avatar.url, class: "img img-circle img-bordered-sm", width: "36px", height: "36px"%>
  <span class="username">
    <h3>Name: <%= current_user.name %></h3>
		<h3>Email: <%= current_user.email %></h3>
	</span>
</div>
  
