<%= form_tag searchs_path, method: :get do %>
    <div class="search-bar">
        <form method="GET" accept-charset="UTF-8" class="input-group">
        <div class="input-group add-on">
            <%= text_field_tag :q, nil, placeholder: @search_string ||= "Nhập từ khóa ...",
             id: "title", class: "search-query form-control", autofocus: "autofocus", type: "text" %>
            <div class="input-group-btn">
                <button class="btn" type="submit">
                    <span class="fa fa-search"></span>
                </button>
            </div>
        </div>
        </form>
    </div>
<% end %>
