<div class="notificationContainer dropdown-menu">
    <div class="notificationTitle">Thông báo</div>
    <div class="notificationsBody">
        <%= render "shared/notification" %>
    </div>
    <div class="notificationFooter"><a class="notify-all">Xem tất cả</a></div>
</div>