<p id="notice"><%= notice %></p>

<h1>Danh sách các tag</h1>
<table class="list-tags">
  <thead>
    <tr>
      <th>Tag</th>
      <th>Menu</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @tags.each do |tag| %>
      <tr>
        <td><%= tag.tag %></td>
        <td>
          <ul>
            <% tag.menu_tags.each do |menu_tag| %>
              <li><%= link_to menu_tag.menu.menuName, menu_tag.menu %></li>
            <% end %>
          </ul>
        </td>
        <td><%= link_to 'Xóa', tag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

